.about{
display: flex;
flex-direction: column;
font-family: $font-family;
padding: 0 50px;
height: 594px;
    &-title{
        margin: 0 auto;
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 80px;
    }
    &-title::after{
       content: '';
       display: block;
       border-top: 2px solid black;
    }
    &-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 431px;
    }
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    &__avatar{
        width: 255px;
        height: 294px;
        background: url('../image/avatar.png');
        background-size: cover;
       transform: rotate(-90deg);
    }
     
    &__text{
        font-size: 20px;
    }
}
.about-skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   &__toolbar{
    display: flex;
    background-color:#eee;
    color: white;
    font-size: 20px;
    width: 43vw;
    height: 32px;
    justify-content: space-between;
    margin-top: 16px;
   }

   &__fill{
   background-color: $azure;
   }
   &__text{
    margin-left: 2px;

   }
   &__procents{
    color: black;
   }
}